{
  "useDevelopmentStorage": false,
  "connectionString": "DefaultEndpointsProtocol=https;AccountName=testpravstorage;AccountKey=gsmn49g7HDym0/BxvcgL+R29z1uJNcAQuPpISjDhMGGKJEGnWYc9NIeJdg16oOo+NLNgPj7JQbQa5exgJFRbgA==;EndpointSuffix=core.windows.net",
  "accountName": "",
  "accountKey": "",
  "containerName" : "corscontainer",
  "sas": ""
}